body {

	background-image: url(banner.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center center;
	height: auto;
	width: auto;

	
}

ul {
	list-style: none;
}

.comingsoon {

	margin-left: 60vw;
	margin-top: 5vw;
	text-align: center;
	font-size: 3vw;
	font-family: 'Open Sans', sans-serif;
}

span {

	font-size: 5vw;
	color: white;
}

.orderat {

	margin-left: 60vw;
	margin-top: -2vw;
	font-size: 2vw;
	font-family: 'Open Sans', sans-serif;
}

ul {
	margin-top: -2vw;
	margin-left: 58vw;
	font-size: 1.5vw;
	font-family: 'Open Sans', sans-serif;
	color: white;
	line-height: 2.5vw;
}

button
{
	background-color: rgba(244,244,244,0.3);
	color: white;
	border: 0px solid white;
	cursor: pointer;
	font-size: 1vw;
}



@media screen and (max-width:640px){
	
	.comingsoon{
		width: 100%;
	}

	.orderat{

		width: 100%
	}

	ul{

		width:100%
	}


}
