body {

	background-image: url(banner.jpeg);
	background-size: cover;
	
	
}

ul {
	list-style: none;
}

.comingsoon {

	margin-left: 900px;
	margin-top: 85px;
	text-align: center;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
}

span {

	font-size: 70px;
	color: white;
}

.orderat {

	margin-left: 900px;
	margin-top: -20px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}

ul {
	margin-top: -20px;
	margin-left: 1000px;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	line-height: 40px;
}

button
{
	background-color: rgba(244,244,244,0.3);
	color: white;
	border: 0px solid white;
	cursor: pointer;
}
